* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: oklch(84.273% 0.03096 277.513);
  --foreground: oklch(0% 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --primary: oklch(76.405% 0.12505 179.172);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(82.968% 0.00009 271.152);
  --muted-foreground: oklch(0.556 0 0);
  --destructive: oklch(0.577 0.245 27.325);
}

body {
  background: var(--background);
  color: var(--foreground);
}
