.headerOverlay {
  padding: 15px 0;
  background: rgb(0, 0, 0);
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerLogo {
  font-size: 22px;
  font-weight: 700;
  color: white;
}
.navigation {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-decoration: none;

  transition: 0.5s;
}

.navigation::after {
  transition: 0.5s;
  content: "";
  position: absolute;
  background: white;
  width: 0px;
  bottom: -2px;
  height: 1px;
  left: 0;
}
.navigation:hover::after {
  width: 100%;
}

@media (max-width: 740px) {
  .headerLogo {
    font-size: 18px;
    font-weight: 700;
  }
  .navigation {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--foreground);
    transition: 0.5s;
  }
}
